body{
   margin: 0;
   padding: 0;
   font-family: 'Courier New', Courier, monospace;
   background: linear-gradient(135deg,lightskyblue,lightgray);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.content{
   display: flex;
   flex-direction: column;
   width: 60%;
   height: 75%;
   background-color: rgba(141, 140, 140, 0.068);
   border-radius: 10px;
   padding: 20px;
}
.content h1{
   text-align: center;
   text-decoration: underline;
   font-size: 60px;
}
.container{
   display: flex;
   flex-direction: column;
   padding: 20px;
}
.container h2{
   text-align: center;
   font-size: 30px;
   color: navy;
}
.inputs,.outputs{
   display: flex;
   justify-content: center;
   margin: 10px;
   gap: 10px;
}
#userInput,#userOutput{
   width: 40%;
   height: 50px;
   background-color: lightgray;
   text-align: center;
   font-weight: bold;
   text-transform: capitalize;
   border-radius: 3px;
   border: 3px double navy;
}
#userChoiceInput,#userChoiceOutput{
   width: 30%;
   height: 70%;
   background-color: lightskyblue;
   font-weight: bold;
   text-transform: capitalize;
   border-radius: 10px;
   border: 2px solid navy;
}
.buttons{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
}
#btn{
   width: 30%;
   height: 100%;
   background-color: lightskyblue;
   border: 3px solid navy;
   border-radius: 12px;
   color: navy;
   font-weight: bolder;
   font-size: larger;
   padding: 5px;
}
#btn:hover{
   background-color: navy;
   color: white;
   cursor: pointer;
}
#res:hover{
   background-color: lightslategray;
   cursor: pointer;
}
#res{
   width: 30%;
   height: 100%;
   background-color: white;
   border: 3px solid lightslategray;
   border-radius: 12px;
   color: navy;
   font-weight: bolder;
   font-size: larger;
   padding: 5px;
}
.result p{
   color: navy;
   margin-top: 50px;
   font-weight: bold;
   text-align: center;
}